@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');


:root{
    --font-size-logo: 48px;
    --font-size-info-book: 18px;
    --font-size-user-input: 22px;
    --font-size-user-validation: 20px;
    --font-size-books-author: 20px;
    --font-size-books-title: 24px;

    --font-color-user-input: #FFF;
    --font-color-user-validation: red;
    --font-color-book: #000;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
background: #ee9ca7;
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
background: linear-gradient(to right, #ffdde1, #ee9ca7);

height: 100vh;
height: 100dvh;

display: flex;

}

aside{
background: #0F2027;
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
background: linear-gradient(to top, #2C5364, #203A43, #0F2027); 


width: 20%;
min-width: 350px;
min-height: 100%;
display: flex;
flex-direction: column;
align-items: center;

}

#logo{
    color: #FFF;
    font-weight: bold;
    font-size: var(--font-size-logo);
    padding: 10% 0;
}

#userInfo{
    width: 90%;
    padding: 10% 0;
}

.helpText{
    color: var(--font-color-user-input);
    opacity: 50%;

}

::placeholder{
    color: var(--font-color-user-input);
    opacity: 50%;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

form{
    display: flex;
    flex-direction: column;
}

input{
    min-width: 100%;
    font-size: var(--font-size-user-input);
    color: var(--font-color-user-input);
    border: none;
    border-bottom: 2px dotted #FFF;
    background: none;
}

select{
    background: none;
    border: none;
    border-bottom: 2px dotted #000;

}

#read{
    color: var(--font-color-user-input);
    min-width: 100%;
    font-size: var(--font-size-user-input);
    border-bottom: 2px dotted #fff;
}

option{
    color: #000;
}

.validationBlock{
    color: var(--font-color-user-validation);
    opacity: 80%;
    padding-bottom: 2rem;
    visibility: hidden;
}

#buttonAddBook{
    border: none;
    min-width: min-content;
    max-width: fit-content;
    background-color: #0F2027;
    padding: 1em;
    align-self: center;
}

#buttonAddBook:hover{
    cursor: pointer;
    background-color: #0E1016;
}

footer{
    position: fixed;
    color: #FFF;
    opacity: 80%;
    bottom: 0;
}

main{
    width: 80%;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infoBooks{
    width: 50%;
    min-width: 40rem;
    padding: 3rem 0;

    display: flex;
    justify-content: space-around;
    font-weight: 300;
    font-size: var(--font-size-info-book)
}

.infoSpace{
    display: flex;
    max-width: 25%;
}

#booksGrid{
    min-width: 20rem;
    width: 85%;
    height: 65%;
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-template-rows: repeat(auto-fill, 15rem);
    overflow: auto;
    justify-content: center;
    gap: 1rem;
}

.gridBox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: left;
    justify-content: center;
    background-color: #ee97b8c9;
    padding-left: 2rem;
}

.bookDelete{
    max-width: fit-content;
    background: none;
    border: none;
    align-self: end;
    padding-right: 2rem;
}

.bookDelete:hover{
    cursor: pointer;
}

#trashbin{
    max-width: 1.5rem;
    max-height: 1.5rem;
    
}

.read{
    border: 1px solid green;
}

.unread{
    border: 1px solid red;
}

#bookTitle{
    font-size: var(--font-size-books-title);
    font-weight: 700;
}

#bookAuthor{
    font-size: var(--font-size-books-author);
    font-weight: 600;
}

@media screen and (max-height: 800px)  {
    #logo{
        padding:0;
    }
    
    #userInfo{
    padding: 0;
    }   

    #buttonAddBook{
        padding: 0.5em;
    }
}